# Coronavirus World Data Analysis

First of all, run the following cell to:

- import `pandas` with an alias of `pd`
- read a CSV containing the data to work with
- convert the `date` column to the `datetime` format
- create a DataFrame `df` containing the data for only **1st July 2020**
- take a look at the first few rows of the DataFrame

In [23]:
import pandas as pd

data = pd.read_csv('data/owid-covid-data.csv')
data['date'] = pd.to_datetime(data['date'])
df = data[data['date'] == '2020-07-01']

df.head()

,iso_code,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,...,aged_70_older,gdp_per_capita,extreme_poverty,cvd_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy
173,AFG,Asia,Afghanistan,2020-07-01,31517.0,279.0,746.0,13.0,809.616,7.167,...,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.50,64.83
300,ALB,Europe,Albania,2020-07-01,2535.0,69.0,62.0,4.0,880.881,23.977,...,8.643,11803.431,1.1,304.195,10.08,7.1,51.2,NaN,2.89,78.57
491,DZA,Africa,Algeria,2020-07-01,13907.0,336.0,912.0,7.0,317.142,7.662,...,3.857,13913.839,0.5,278.364,6.73,0.7,30.4,83.741,1.90,76.88
613,AND,Europe,Andorra,2020-07-01,855.0,0.0,52.0,0.0,11065.812,0.000,...,NaN,NaN,NaN,109.135,7.97,29.0,37.8,NaN,NaN,83.73
727,AGO,Africa,Angola,2020-07-01,284.0,8.0,13.0,2.0,8.641,0.243,...,1.362,5819.495,NaN,276.045,3.94,NaN,NaN,26.664,NaN,61.15

- `df` DataFrame now has one row of data for each country with data present for **July 1st 2020**
- however, it also has a row with a `location` of `World` which contains aggregated values for all countries
- `df.tail()`, `df.info()` and `df.shape` will allow for further exploration of the structure of the DataFrame

In [24]:
df.tail()

,iso_code,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,...,aged_70_older,gdp_per_capita,extreme_poverty,cvd_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy
29411,ESH,Africa,Western Sahara,2020-07-01,380.0,172.0,1.0,0.0,636.164,287.948,...,1.380,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70.26
29506,YEM,Asia,Yemen,2020-07-01,1158.0,30.0,312.0,8.0,38.825,1.006,...,1.583,1479.147,18.8,495.003,5.35,7.600,29.200,49.542,0.700,66.12
29623,ZMB,Africa,Zambia,2020-07-01,1594.0,26.0,24.0,2.0,86.706,1.414,...,1.542,3689.251,57.5,234.499,3.94,3.100,24.700,13.938,2.000,63.89
29738,ZWE,Africa,Zimbabwe,2020-07-01,591.0,17.0,7.0,0.0,39.763,1.144,...,1.882,1899.775,21.4,307.846,1.82,1.600,30.700,36.791,1.700,61.49
29934,OWID_WRL,NaN,World,2020-07-01,10465987.0,192563.0,511041.0,5732.0,1342.689,24.704,...,5.355,15469.207,10.0,233.070,8.51,6.434,34.635,60.130,2.705,72.58

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 211 entries, 173 to 29934
Data columns (total 34 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   iso_code                         211 non-null    object
 1   continent                        210 non-null    object
 2   location                         211 non-null    object
 3   date                             211 non-null    datetime64[ns]
 4   total_cases                      210 non-null    float64
 5   new_cases                        210 non-null    float64
 6   total_deaths                     210 non-null    float64
 7   new_deaths                       210 non-null    float64
 8   total_cases_per_million          210 non-null    float64
 9   new_cases_per_million            210 non-null    float64
 10  total_deaths_per_million         210 non-null    float64
 11  new_deaths_per_million           210 non-null    float64
 12  total_tests                      73 non-null     float64
 13  new_tests                        73 non-null     float64
 14  total_tests_per_thousand         73 non-null     float64
 15  new_tests_per_thousand           73 non-null     float64
 16  new_tests_smoothed               83 non-null     float64
 17  new_tests_smoothed_per_thousand  83 non-null     float64
 18  tests_units                      85 non-null     object
 19  stringency_index                 155 non-null    float64
 20  population                       211 non-null    float64
 21  population_density               200 non-null    float64
 22  median_age                       187 non-null    float64
 23  aged_65_older                    184 non-null    float64
 24  aged_70_older                    186 non-null    float64
 25  gdp_per_capita                   184 non-null    float64
 26  extreme_poverty                  122 non-null    float64
 27  cvd_death_rate                   186 non-null    float64
 28  diabetes_prevalence              194 non-null    float64
 29  female_smokers                   141 non-null    float64
 30  male_smokers                     139 non-null    float64
 31  handwashing_facilities           92 non-null     float64
 32  hospital_beds_per_thousand       165 non-null    float64
 33  life_expectancy                  208 non-null    float64
dtypes: datetime64[ns](1), float64(29), object(4)
memory usage: 57.7+ KB

In [26]:
df.shape

(211, 34)

**Q1. Create a new DataFrame called `countries` which is the same as `df` but with the `World` row removed.**

- Use the `.copy()` method to ensure you have a distinct DataFrame in memory
- Assign this new DataFrame to the variable `countries`; do not modify `df`

In [50]:

countries = df.copy()
countries = df[df['location'] != 'World'].copy()
countries

,iso_code,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,...,aged_70_older,gdp_per_capita,extreme_poverty,cvd_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy
173,AFG,Asia,Afghanistan,2020-07-01,31517.0,279.0,746.0,13.0,809.616,7.167,...,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.50,64.83
300,ALB,Europe,Albania,2020-07-01,2535.0,69.0,62.0,4.0,880.881,23.977,...,8.643,11803.431,1.1,304.195,10.08,7.1,51.2,NaN,2.89,78.57
491,DZA,Africa,Algeria,2020-07-01,13907.0,336.0,912.0,7.0,317.142,7.662,...,3.857,13913.839,0.5,278.364,6.73,0.7,30.4,83.741,1.90,76.88
613,AND,Europe,Andorra,2020-07-01,855.0,0.0,52.0,0.0,11065.812,0.000,...,NaN,NaN,NaN,109.135,7.97,29.0,37.8,NaN,NaN,83.73
727,AGO,Africa,Angola,2020-07-01,284.0,8.0,13.0,2.0,8.641,0.243,...,1.362,5819.495,NaN,276.045,3.94,NaN,NaN,26.664,NaN,61.15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29332,VNM,Asia,Vietnam,2020-07-01,355.0,0.0,0.0,0.0,3.647,0.000,...,4.718,6171.884,2.0,245.465,6.00,1.0,45.9,85.847,2.60,75.40
29411,ESH,Africa,Western Sahara,2020-07-01,380.0,172.0,1.0,0.0,636.164,287.948,...,1.380,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70.26
29506,YEM,Asia,Yemen,2020-07-01,1158.0,30.0,312.0,8.0,38.825,1.006,...,1.583,1479.147,18.8,495.003,5.35,7.6,29.2,49.542,0.70,66.12
29623,ZMB,Africa,Zambia,2020-07-01,1594.0,26.0,24.0,2.0,86.706,1.414,...,1.542,3689.251,57.5,234.499,3.94,3.1,24.7,13.938,2.00,63.89
29738,ZWE,Africa,Zimbabwe,2020-07-01,591.0,17.0,7.0,0.0,39.763,1.144,...,1.882,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.70,61.49

**Q2. Check the shape of your DataFrame to confirm that `countries` has one row fewer than `df`:**

In [28]:
print(df.shape, countries.shape)

(211, 34) (210, 34)

**Q3. Define a DataFrame based on the `countries` DataFrame, but which only contains the columns in `cols` (defined below) and assign this to a variable called `countries_dr`**

In [49]:
cols = ['continent', 'location', 'total_deaths_per_million']

countries_dr = countries[cols]

countries_dr = countries_dr.sort_values(by='total_deaths_per_million', ascending=False)
countries_dr

,continent,location,total_deaths_per_million
23306,Europe,San Marino,1237.551
2917,Europe,Belgium,841.615
613,Europe,Andorra,673.008
28347,Europe,United Kingdom,644.168
25362,Europe,Spain,606.633
...,...,...,...
23111,North America,Saint Vincent and the Grenadines,0.000
23926,Africa,Seychelles,0.000
15734,Africa,Lesotho,0.000
10808,Europe,Gibraltar,0.000
12195,Asia,Hong Kong,NaN

**Q4. Using the `countries` DataFrame we created earlier, find the sum of `total_tests` for countries in `Africa`, assigning the result, *as an integer*, to `africa_tests`.**

In [48]:

africa_tests = countries[countries['continent'] == 'Africa']['total_tests'].sum()

africa_tests = int(africa_tests)
africa_tests

3445134

**Q5. How many countries in Africa have no value recorded for the number of `total_tests` column? Assign the result to `africa_missing_test_data`.**

In [47]:

africa_missing_test_data = len(countries[(countries['continent'] == 'Africa') & (countries['total_tests'].isna())])
africa_missing_test_data

45

**Q6. How many countries have a higher value for `total_tests` than the `United Kingdom`? Assign your answer to a variable called `countries_more_tests`.**

In [46]:

uk_tests = countries[countries['location'] == 'United Kingdom']['total_tests'].values[0]

countries_more_tests = len(countries[countries['total_tests'] > uk_tests])
countries_more_tests

3

**Q7. Create a DataFrame called `beds_dr` which is based on the `countries` DataFrame, but contains only the columns `hospital_beds_per_thousand` and `total_deaths_per_million`.**

In [45]:

beds_dr = countries[['hospital_beds_per_thousand', 'total_deaths_per_million']].dropna()
beds_dr

       hospital_beds_per_thousand  total_deaths_per_million
173                          0.50                    19.163
300                          2.89                    21.544
491                          1.90                    20.798
952                          3.80                    30.635
1081                         5.00                    28.919
...                           ...                       ...
29136                        0.80                     1.794
29332                        2.60                     0.000
29506                        0.70                    10.461
29623                        2.00                     1.305
29738                        1.70                     0.471

[164 rows x 2 columns]

**Q8. Refer to the `beds_dr` DataFrame. What is the average `total_deaths_per_million` for entries in `beds_dr` where `hospital_beds_per_thousand` is greater than the mean?**

In [51]:

mean_bed_ratio = beds_dr['hospital_beds_per_thousand'].mean()
filtered_beds_dr = beds_dr[beds_dr['hospital_beds_per_thousand'] > mean_bed_ratio]
dr_high_bed_ratio = filtered_beds_dr['total_deaths_per_million'].mean()
dr_high_bed_ratio

98.18423728813559

**Q9. Refer to the `beds_dr` DataFrame. What is the average `total_deaths_per_million` for entries in `beds_dr` where `hospital_beds_per_thousand` is less than the mean?**

In [52]:


mean_bed_ratio = beds_dr['hospital_beds_per_thousand'].mean()
filtered_beds_dr = beds_dr[beds_dr['hospital_beds_per_thousand'] < mean_bed_ratio]
dr_low_bed_ratio = filtered_beds_dr['total_deaths_per_million'].mean()
dr_low_bed_ratio

56.294057142857135

**Q10. Refer to the `countries` DataFrame. Create a new DataFrame called `no_new_cases` which contains only rows from `countries` with zero `new_cases`.**

In [36]:

no_new_cases = countries[countries['new_cases'] == 0]
no_new_cases.head()

,iso_code,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,...,aged_70_older,gdp_per_capita,extreme_poverty,cvd_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy
613,AND,Europe,Andorra,2020-07-01,855.0,0.0,52.0,0.0,11065.812,0.0,...,NaN,NaN,NaN,109.135,7.97,29.0,37.8,NaN,NaN,83.73
836,AIA,North America,Anguilla,2020-07-01,3.0,0.0,0.0,0.0,199.973,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,81.88
952,ATG,North America,Antigua and Barbuda,2020-07-01,66.0,0.0,3.0,0.0,673.965,0.0,...,4.631,21490.943,NaN,191.511,13.17,NaN,NaN,NaN,3.8,77.02
1381,ABW,North America,Aruba,2020-07-01,103.0,0.0,3.0,0.0,964.727,0.0,...,7.452,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29
2080,BHS,North America,Bahamas,2020-07-01,104.0,0.0,11.0,0.0,264.464,0.0,...,5.200,27717.847,NaN,235.954,13.17,3.1,20.4,NaN,2.9,73.92

**Q11. Refer to the `no_new_cases` DataFrame. Which country in `no_new_cases` DataFrame has had the highest number of `total_cases`?**

In [53]:

highest_total_cases = no_new_cases[no_new_cases['total_cases'] == no_new_cases['total_cases'].max()]

highest_no_new = highest_total_cases['location'].values[0]

highest_no_new

'Cameroon'

**Q12. Refer to the `countries` DataFrame. What is the sum of the `population` of all countries which have had zero `total_deaths`?**

In [54]:

sum_populations_no_deaths = countries[countries['total_deaths'] == 0]['population'].sum()
sum_populations_no_deaths = int(round(sum_populations_no_deaths / 1_000_000))
sum_populations_no_deaths

192

**Q13. Create a function called `country_metric` which accepts the following three parameters:**

- a DataFrame (which can be assumed to be of a similar format to `countries`)
- a location (i.e. a string  which will be found in the `location` column of the DataFrame)
- a metric (i.e. a string which will be found in any column  (other than `location`)  in the DataFrame)

In [39]:

def country_metric(df, location, metric):
  
    value = df[df['location'] == location].iloc[0][metric]
    
    return value

**Q.14 Use your function to collect the value for `Vietnam` for the metric `aged_70_older`, assigning the result to `vietnam_older_70`.**

In [40]:

vietnam_older_70 = country_metric(countries, 'Vietnam', 'aged_70_older')
vietnam_older_70

4.718

**Q.15 Create another function called `countries_average`, which accepts the following three parameters:**

- a DataFrame "df" (which can be assumed to be such as `countries`)
- a list of countries "countries" (which can be assumed to all be found in the `location` column of the DataFrame)
- a string "metric" (which can be assumed to be a column (other than `location`) which will be found in the DataFrame) . For instance, this string value can be `life_expectancy`.

In [41]:

def countries_average(df, countries, metric):
    filtered_countries = df[df['location'].isin(countries)]
    average_value = filtered_countries[metric].mean()
    
    return average_value

**Q16. Use your `countries_average` function to find out the average `life_expectancy` of countries in the `g7` list defined below. Assign the result to the variable `g7_avg_life_expectancy`.**

In [42]:
g7 = ['United States', 'Italy', 'Canada', 'Japan', 'United Kingdom', 'Germany', 'France']

In [43]:

g7 = ['United States', 'Italy', 'Canada', 'Japan', 'United Kingdom', 'Germany', 'France']
g7_avg_life_expectancy = countries_average(df, g7, 'life_expectancy')
g7_avg_life_expectancy

82.10571428571428

**Q.17 Refer to the `countries` DataFrame. Find the country with lowest value for `life_expectancy` in the `countries` DataFrame, and create a string which is formatted as follows:**

'{country} has a life expectancy of {diff} years lower than the G7 average.'
    
Assign your string to the variable `headline` and ensure it is formatted exactly as above, with:
- use `f-strings` to format the string
- {country} being replaced by the value in the `location` column of the DataFrame
- {diff} being replaced by a float **rounded to one decimal place**, of the value from the `life_expectancy` column subtracted from `g7_avg_life_expectancy`. Please note that {diff} should be a positive value
```python

In [55]:


g7_countries = ['Canada', 'France', 'Germany', 'Italy', 'Japan', 'United Kingdom', 'United States']
g7_avg_life_expectancy = countries[countries['location'].isin(g7_countries)]['life_expectancy'].mean()

lowest = countries[countries['life_expectancy'] == countries['life_expectancy'].min()].iloc[0]
country = lowest['location']
life_exp = lowest['life_expectancy']

diff = g7_avg_life_expectancy - life_exp

headline = f"{country} has a life expectancy of {diff:.1f} years lower than the G7 average."

headline

'Central African Republic has a life expectancy of 28.8 years lower than the G7 average.'

This project focused on Data aggregation and preperation with Pandas in order to analyse the Coronavirus dataset. Question by question the project looked at analysing the data and preparing it for analysis. I was able to gain insights from the data by answering these questions correctly and also able to practice my python code using pandas in order to create edit and update different dataframes for this dataset and undertake some calculations where necessary. I learnt a great deal by completing this project and I will continue to utilise the skills I have learnt in this project for future projects that I do in the field of Data Science.